@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  background-color: v.$grisOscuro;
  margin-bottom: 0;
  padding: 2.5rem 0;

  .contenedor-footer {
    padding-top: 2.5rem;
  }

  .copyright {
    color: v.$blanco;
    text-align: center;
  }

  .navegacion {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}
